--- ---

//@import "{{ site.theme }}";
.inner {
  max-width: 940px;
  padding: 20px 10px;
  margin: 0 auto;
}

.outer {
  background-color: pink;
}

#header_wrap .inner {
  max-width: 1340px;
  padding: 50px 10px 30px 10px;
}

#footer_wrap {
  background: #1eb6b6;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #1eb6b6;
  border-bottom: 1px solid #1eb6b6;
}

#header_wrap {
  background: pink;
}

#project_title {
  color: black;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  background: none;
}

#project_tagline {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  background: none;
}

#reproducibility-checklist {
  margin-top: 1em;
}