---
---

@import "{{ site.theme }}";

.header {
  max-width: 940px;
  padding: 20px 10px;
  margin: 0 auto;
}

.outer {
  background-color: pink!important;
}

#header_wrap {
  background: pink!important;
}

.title {
  color: black;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  background: none;
}

.tagline {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  background: none;
}

#reproducibility-checklist {
  margin-top: 1em!important;
}