---
---

@import "{{ site.theme }}";

.inner-text {
  max-width: 940px;
  padding: 20px 10px;
  margin: 0 auto;
}

#footer_wrap {
  background-color: pink!important;
}

#header_wrap {
  background: pink!important;
}

.title {
  color: black;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  background: none;
}

.tagline {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  background: none;
  text-shadow: #111 0px 0px 6px;
}

#reproducibility-checklist {
  margin-top: 1em!important;
}

ul {
  list-style: none!important;
}

footer p {
  color: black!important;
}

footer a {
  text-shadow: #111 0px 0px 5px !important;
}

#main_content_wrap {
  border: none!important;
}